// Navbar
nav.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm.py-3
  .container.px-5
    a.navbar-brand.fw-bold.text-primary(href='index.html') Pankaj Yadav
    button.navbar-toggler(
      type='button',
      data-bs-toggle='collapse',
      data-bs-target='#navbarNav',
      aria-controls='navbarNav',
      aria-expanded='false',
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.fw-semibold.text-dark(href='index.html') Home
        li.nav-item
          a.nav-link.fw-semibold.text-dark(href='resume.html') Resume
        li.nav-item
          a.nav-link.fw-semibold.text-dark(href='projects.html') Projects
        li.nav-item
          a.nav-link.fw-semibold.text-dark.active(href='contact.html') Contact
